* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

/* Common */

a  {
    color: white;
    text-decoration: none;
}
/* contacts */
.contacts h1 {
color:#f7c08a;
margin: 20px 30px;
}

.contacts p{
margin: 20px 30px;   
font-weight: 500;

}
 .form-group{
    margin: 30px 30px;  
   font-weight: 400;
}

.form-group input{
width: 83%;
padding: 5px;
}
.form-group textarea{
    width: 83%;
    padding: 5px;
}

.bg-loc {
    background: black;
    color: white;
}

.bg-phone {
    background: black;
    color: white;
}

.bg-email {
    background: black;
    color: white;
}


.container {
    max-width: 960px;
    margin: auto;
}

.text-primary {
    color: #f7c08a;
}

.btn {
    font-size: 15px;
    background: #333;
    padding: 15px 20px;
    border-radius: 5px;
}



.bg-light {
    background: #f4f4f4;
    color: #333;
}

.bg-primary {
    background: #f7c08a;
}

.btn-light {
    background: #f4f4f4;
    color: #333;
}


.clr {
    clear: both;
}

/* nav */
#navbar {
    background-color: #333;
    color: #fff;
    height: 50px;
    padding-top: 5px;
}

#navbar h1 {
    float: left;
    padding-left: 20px;
}

#navbar ul {
    float: right;
    list-style: none;    
}

#navbar ul li {
    float: left;
}

#navbar ul a  {
    padding: 20px;
}

#navbar ul a:hover {
    text-decoration: underline;
    color: #f7c08a;
}

/* Showcase */
#showcase {
    background: url(hatdog.jpg) no-repeat center center/cover;
    height: 300px;
}

.showcase-content {
    text-align: center;
    color: #fff;
    padding-top: 120px;
}

.showcase-content p {
    margin-bottom: 30px;
}

/* Home Info */
#home-info {
    height: 250px;    
}

#home-info .info-img {
    background: url(footlong.jpg) no-repeat center center/cover;
    height: 100%;
    width: 50%;
    float: left;
}

#home-info .info-content {
    height: 100%;
    width: 50%;
    background: #333;
    float: right;
    color: white;
    text-align: center;
    padding: 20px 10px;
}

#home-info .info-content h2 {
    padding: 10px;
}

#home-info .info-content p {
    margin-bottom: 50px;
}

#home-info .info-content a:hover {
    text-decoration: underline;
    color: #333;
}


/* About */
#about-info {
    padding: 10px;
}


#about-info .info-left {
    float: left;
    width: 40%;
    height: 100%;

}

#about-info .info-right {
    float: right;
    width: 40%;
    height: 100%;
}

#about-info .info-right img {
    width: 70%;
    margin-top: auto;
    border-radius: 50%;
    display: block;
}

/* Testimonials */
#testimonials {
    height: 470px;
    background: url(halfdog.jpg) no-repeat center center/cover;
}

#testimonials h2 {
    color: white;
    text-align: center;
    padding: 20px;
    font-size: 30px;
}

#testimonials .testimonial {
    padding: 20px;
    margin-bottom: 40px;
    border-radius: 5px;
    height: 150px;
    opacity: 0.8;
}

#testimonials .testimonial img {
    width: 100px;
    float: left;
    margin-right: 20px;
    border-radius: 50%;
}

/*  Features */
#features { 
    text-align: center;
}

.box {
    float: left;
    width: 33.3%;
    height: 120px;
    padding: 30px;
    text-align: center;
}

.box i {
    font-size: 30px;
    margin-top: 0px;
}

.box h3 {
    font-size: medium;
    margin-top: 10px;
}

.box p {
    font-size: small;
    margin-top: 10px;
}

/* FOOTER */
#main-footer {
    text-align: center;
    background: #444;
    color: white;
    height: 25px;
}

#main-footer p {
    margin-top: 0px;
}

input[type="submit"] {
    width: 90px;
    height: 40px;
    margin-top: 10px;
    border: none;
    background-color:#444;
    color: white;
    font-size: 18px;
    
   
    padding: 0px;
 border-radius: 5px;
}